.tag {
    border-style: none;
    margin: 4px;
    padding: 6px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: bold;
    color: #121212;
    background-color: #8CFFA3;
    min-width: 70px;
    height: 13px;
    align-content: center;
}

.tag-icon { 
    cursor: pointer;
    font-size: 12px;
    float: right;
}

.magenta{
    background-color: #BB86FC;

}